.list{
    width: 100%;
    &__title{
        position: relative;
        height: 2px;
        width: 100%;
        background: #E0E0E0;
        margin-top: 42px;
        margin-bottom: 28px;
        & span{
            position: absolute;
            left: 50%;
            top: -11px;
            transform: translateX(-50%);
            width: 120px;
            height: 24px;
            border-radius: 16px;
            background: #E0E0E0;
            font-weight: 500;
            font-size: 14px;
            color: #263238;
            display: flex;
            align-items: center;
            justify-content: center;

        }
    }
}