.navbar{
    height: 100px;
    background: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &__logo{
        width: 420px;
        height: auto;
        margin-left: 100px;
    }
    &__profile{
        display: flex;
        align-items: center;
        margin-right: 100px;
    }
    &__label{
        font-size: 16px;
        line-height: 19px;
        color: #7D7D7D;
        margin-right: 22px;
        span{
            color: #000;
            font-weight: bold;
        }
    }
    &__avatar{
        position: relative;
        width: 64px;
        height: 64px;
        border-radius: 50%;
        overflow: hidden;
        img{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}